body {
    background: #686;
    color: black;
    font-family: sans;
}
table {
    border: none;
    background: #686;
    width: 100%;
}
th {
    text-align: left;
}
td {
    vertical-align: top;
}
th:nth-child(1) {
    width: 66%;
}
tr {
    background: #fff;
}
tr:nth-child(1) {
    background: #ccc;
}
